.rightbar-container {
  width: 100%;
  background-color: #ffffff;
  padding: 40px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  border-radius: 10px;
}

.rightbar-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.rightbar-list {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: 100%;
}

.rightbar-item {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px; /* Reduced padding for better alignment */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  justify-content: flex-start; /* Aligned content to the start */
  gap: 20px; /* Added gap between the image and the name */
  width: 100%;
  margin: 10px 0;
}

.rightbar-item:hover {
  transform: translateY(-5px); /* Added hover effect */
}

.rightbar-dp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover; /* Ensure the image fits well inside the circle */
}

.rightbar-name {
  font-size: 16px; /* Adjusted font size */
  font-weight: 500;
  color: #333;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .rightbar-container {
    width: 100%;
    margin-top: 20px;
    padding: 20px; /* Reduced padding for smaller screens */
  }

  .rightbar-item {
    padding: 10px; /* Reduced padding */
  }

  .rightbar-dp {
    width: 35px;
    height: 35px;
  }

  .rightbar-name {
    font-size: 14px;
  }
}
