.Post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 16px 0;
    padding: 16px;
    width: 95%;
    /* max-width: 600px; */
  }
  
  .Post__container {
    display: flex;
    flex-direction: column;
  }
  
  .Post__input input {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 12px 16px;
    font-size: 16px;
    width: 95%;
    outline: none;
    transition: border-color 0.3s;
  }
  
  .Post__input input:focus {
    border-color: #0073b1;
  }
  
  .Post__options {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
  }
  
  .Post__option {
    background-color: #f0f2f5;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Post__option img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  
  .Post__option span {
    font-size: 14px;
    color: #555;
  }
  
  .Post__option:hover {
    background-color: #e0e0e0;
  }
  
  .Submit{
    background-color: lightgreen;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }