.sidebar {
    flex: 0.5;
    border-right: 1px solid lightgray;
    padding: 20px;
    height: 50vh;
    position: sticky;
    background-color: lightgray;
    width: 50%;
    border-radius: 20px;
  }
  .sidebar__top {
    display: flex;
    gap: 1rem;
  }
  .sidebar__top img {
    width: 30%;
    border-radius: 50%;
  }
  
  .sidebar__stats {
    margin-top: 5px;
  }
  
  .sidebar__stat {
    display: flex;
    justify-content: space-around;
  }
  
  .sidebar__statNumber {
    font-weight: bold;
  }
  